{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/registration.css') }}">
    <link rel="stylesheet" href="{{ asset('css/quiz.css') }}">

{% endblock %}
{% block body %}
    <div class="quiz_container">
        <h1>Poprawne odpowiedzi</h1>

{#        <form method="post" action="{{ url('sendQuiz') }}">#}

            {% for question in question %}
{#                {% if question.id == 1 %}#}
{#                    <div class="head_form">#}
{#                    </div>#}
{#                {% endif %}#}

                <div class="question">
                    <label>{{ question.content }}</label>
                </div>

                {% for questionPossibleAnswer in question.questionPossibleAnswer %}
{#                    <div class="answer">#}
                    {% if questionPossibleAnswer.isCorrect == 1 %}
                        <p  class="correct"> {{ questionPossibleAnswer.content }} </p>
                        {#            <div class="click">#}
{#                        <input id="{{ questionPossibleAnswer.id }}" type="radio" value="{{ questionPossibleAnswer.isCorrect }}" name="{{ questionPossibleAnswer.question.content }}">#}
                        {#            </div>#}
{#                        <label class="radio" for="{{ questionPossibleAnswer.id }}">{{ questionPossibleAnswer.content }}#}
{#                        </label>#}
                        {% endif %}
{#                    </div>#}
                    {#        </label>#}

                {% endfor %}

            {% endfor %}
        <p class="back_link">Powrót do <a href="{{ url('main_page') }}">strony głównej</a></p>

{#            <button class="button_send" type="submit"> Wyślij </button>#}
{#        </form>#}
    </div>
    {#    </div>#}
{% endblock %}
