{#{% extends 'base.html.twig' %}#}

{#{% block body %}#}

{#    <div class="wrapper">#}
{#        {% if question is defined and question|length %}#}
{#        {% for questionPossibleAnswer in question.questionPossibleAnswer %}#}
{#        {{ question.content }}#}
{#        {% endfor %}#}
{#            {% else %}#}
{#            {{ 'pusto' }}#}
{#        {% endif %}#}

{#   {{ form_start(form, {method: 'PUT', action: url('question', {id: question.id}) }) }}#}
{#    {{ form_widget(form) }}#}
{#    <div>#}
{#        <input type="submit" value="submit">#}
{#    </div>#}

{#    {{ form_end(form) }}#}
{#    </div>#}


{#{% endblock %}#}