{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/competitions.css') }}">
{% endblock %}
{% block body %}
    <div class="wrapper_images">
        <h1>Igrzyska Olimpijskie i Mistrzostwa Europy (1966r - 1977r) </h1>

        {#        <h1>siema</h1>#}
        <div class="flex_img_container">
        <div class="container_img">
{#            <img src="{{ asset('images/Mexico_68_Closing_Ceremony.jpg') }}" alt="">#}
            <img src="{{ asset('images/512px-Budapeszt.jpg') }}" alt="">
            <a href="{{ url('competition_Budapest') }}">
                <p>Mistrzostwa Europy - Budapeszt 1966r</p>
            </a>
        </div>
        <div class="container_img">
            <img src="{{ asset('images/Opening_Ceremony_Mexico_72_University_Stadium.jpg') }}" alt="">
            <a href="{{ url('competition_Mexico') }}">
            <p>Igrzyska Olimpijskie - Meksyk 1968r </p>
            </a>
        </div>
        <div class="container_img">
            <img src="{{ asset('images/Munich.jpg') }}" alt="">
            <a href="{{ url('competition_Monachium') }}">
            <p>Igrzyska Olimpijskie - Monachium 1972r </p>
            </a>
        </div>
        <div class="container_img">

            <img src="{{ asset('images/640pxSzewinska-Rzym-1974.jpg') }}" alt="">
            <a href="{{ url('competition_Roma') }}">
                <p>Mistrzostwa Europy - Rzym 1974r </p>
            </a>
        </div>
        <div class="container_img">
            <img src="{{ asset('images/Montreal-stadium-AP-19760717.jpg') }}" alt="">
            <a href="{{ url('competition_Montreal') }}">
            <p>Igrzyska Olimpijskie - Montreal 1976r </p>
            </a>
        </div>
        <div class="container_img">
            <img src="{{ asset('images/irena-szewinska-Puchar-Swiata.jpg') }}" alt="">
            <a href="{{ url('competition_WorldCup') }}">
            <p>Puchar Świata - Dusseldorf 1977r </p>
            </a>
        </div>
    </div>
    </div>
{% endblock %}