{% extends'base.html.twig' %}

    {% block title %}Strona główna {% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito&family=Open+Sans+Condensed:wght@300&family=Oswald:wght@400;500&display=swap" rel="stylesheet">
{#    <link href="../../lib/dist/css/lightbox.css" rel="stylesheet">#}
{#    <link rel="stylesheet" href="{{ asset('lib/dist/css/lightbox.css') }}">#}
    <link rel="stylesheet" href="{{ asset('lib/dist/css/lightbox.css') }}">

    <link rel="stylesheet" href="{{ asset('css/main.css') }}">
{#    <link rel="preconnect" href="https://fonts.gstatic.com">#}
{#    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap" rel="stylesheet">#}
{% endblock %}
{% block body %}
    <div class="wrapper">
{#        <div class="container">#}
        <h1>Irena Kirsztenstein-Szewińska</h1>
        <div class="short_about">
            <div class="img_container">
                <img class="short_about_img" src="{{ asset('images/IrenaKirszensteinn.jpg') }}" alt="">
            </div>
            <div class="person">
            <h2>Irena Szewińska</h2>
            <p>
                Irena Szewińska – urodzona 24 maja w 1946 roku, ikona polskiego sportu,
                lekkoatletka specjalizująca się w biegach sprinterskich i skoku w dal.
                Wielokrotnie brała udział w igrzyskach olimpijskich czy mistrzostwach Europy, na których ustanawiała rekordy życiowe.
                Irena była znakomitą sportsmenką, nazywana swego czasu „Irennisimą” – to określenie wymyślił dla niej sprinter - Edward Trojanowski.
                Jej wielka sportowa kariera zaczęła się od startów na czwartkach lekkoatletycznych.
                Były to cotygodniowe imprezy sportowe, na których mógł sprawdzić się każdy zawodnik, niezależnie czy reprezentował klub,
                czy nie. Irena osiągała na zawodach bardzo dobre wyniki, dzięki czemu trafiła do klubu sportowego Polonia.
                Tak zaczęła się jej niesamowita kariera.
{#                Irena Szewińska – ikona polskiego sportu, lekkoatletka specjalizująca się w biegach sprinterskich i skoku w dal.#}
{#            W swojej karierze zdobyła 7 medali mistrzostw olimpijskich, 10 medali mistrzostw Europy, a także 24 medale mistrzostw Polski.#}
{#            Była znakomitą sportsmenką, nazywana swego czasu „Irennisimą” – to określenie wymyślił sprinter Edward Trojanowski.#}
{#            Jej wielka sportowa kariera zaczęła się od startów na czwartkach lekkoatletycznych.#}
{#            Były to cotygodniowe imprezy sportowe, na których mógł sprawdzić się każdy zawodnik, niezależnie czy trenował w klubie, czy nie. Osiągała na nich bardzo dobre wyniki,#}
{#                dzięki czemu trafiła#}
{#                do klubu sportowego Polonia. Tak zaczęła się jej niesamowita kariera.#}

{#            Trenerami Ireny Szewińskiej byli kolejno: Jan Kopyto, Andrzej Piotrowski, Edward Bugała, Tadeusz Starzyński, Gerard Mach, Janusz Szewiński.#}
            </p>
            </div>

        </div>
        <p class="about_person">Kariera Ireny Kirszenstein-Szewińskiej rozwinęła się bardzo szybko.
            Już podczas swoich pierwszych igrzysk olimpijskich, mając zaledwie 18lat, potrafiła zdobyć aż trzy medale – jeden złoty i dwa srebrne.
            Jej najmocniejszą konkurencją był bieg na dystans dwustu metrów.
            Znakomicie spisywała się też w biegu na 100 metrów czy skoku w dal.
            Była również mocnym punktem w sztafecie 4x100 metrów.
            Pod koniec kariery próbowała swoich sił w biegu na 400 metrów, a nawet wzięła udział w biegu na 400 metrów przez płotki.
            Była to zawodniczka wszechstronna. Bardzo dobrze współpracowała z trenerami.
            Owoce tej pracy towarzyszyły jej niemal do końca kariery.
            Zdobyła 7 medali mistrzostw olimpijskich, 10 medali mistrzostw Europy, a także 24 medale mistrzostw Polski.
            Irena biła swoje rekordy życiowe, ustanawiała rekordy krajowe i rekordy świata.
            Stała się ikoną nie tylko polskiego, ale i światowego sportu.
        </p>
{#        <p>Donec congue, purus at pretium ornare, enim eros tempor nisl, sit amet dapibus purus tortor quis eros. Nunc volutpat vel tortor eleifend aliquet. Vestibulum pretium justo et facilisis volutpat. Phasellus non ante mattis, bibendum tortor ac, rutrum dui. Aliquam id nulla malesuada, dictum ipsum sit amet, ultricies velit. Phasellus eu orci sed metus facilisis placerat. Vestibulum a velit mollis, fringilla urna nec, interdum ante. Proin ac ante eget felis venenatis aliquet ut quis leo. Etiam pharetra elit nulla, eget mollis urna porta vitae. Vestibulum id arcu mollis, tincidunt dolor et, fringilla nulla. Integer congue, quam ut convallis congue, nibh turpis consectetur ex, ac consectetur risus nisl eu nisl. Suspendisse dapibus nisl urna, a mollis tellus tempus feugiat. Quisque hendrerit hendrerit nunc mollis dapibus. Pellentesque fermentum sem metus, sit amet cursus ex rutrum ac. Cras dapibus sapien leo, sed hendrerit ante eleifend in. Nunc non faucibus velit.</p>#}

        <div class="quotation">
            <div class="bg">
            <p class="text">„Myślę, że 75% szans wykorzystałam. Mam satysfakcję, że jestem w księdze rekordów Guinnessa jako jedyna zawodniczka,
            która zdobywała na igrzyskach medale w pięciu konkurencjach lekkoatletycznych – na 100, 200 i 400 m, w sztafecie 4×100 m i w skoku w dal.”
            </p>
            <p class="author">Irena Kirszenstein-Szewińska</p>
        </div>
        </div>

        <section class="achievements">
            <h2>Osiągnięcia Ireny Szewińskiej - w liczbach</h2>
{#            <div class="containter_achieve_img">#}
{#            <img class="achieve_img" src="{{ asset('images/achieve_Easy-Resize.com.jpg') }}" alt="">#}
{#            </div>#}
{#            <div class="container_obj">#}
{#            <div class="obj"></div>#}
        <div class="container_flex">
            <div class="column">
                <span class="number">16</span>
                <p>Tyle razy Irena Szewińska ustanowiła oficjalnych i nieoficjalnych <strong>rekordów świata.</strong>
                    Były to biegi na: 60m, 100m, 200m, 300m, 440y, 400m, 4x100m.</p>
            </div>
            <div class="column">
                <span class="number">5</span>
                <p>Tyle razy ustanowiła <strong>rekord Europy</strong> w biegach na: 100y, 100m, 200m, 220y, 4x100m.</p>
            </div>
            <div class="column">
                <span class="number">53</span>
                <p>Tyle ustanowiła <strong>rekordów Polski.</strong> Były to konkurencje, takie jak: 100m, 200m, 400m, skok w dal, 4x100m repr., 4x100m klub., 4x400m, 5-bój.</p>
            </div>
        </div>
{#            <div class="column">#}
{#                <div class="achieve">#}
{#                    <p class="number">7</p>#}
{#                    <p>medali olimpijskich</p>#}
{#                </div>#}
{#                <div class="achieve">#}
{#                    <p class="number">3</p>#}
{#                    <p>mistrzostwa olimpijskie</p>#}
{#                </div>#}
{#                <div class="achieve">#}
{#                    <p class="number">10</p>#}
{#                    <p>medali mistrzostw Europy</p>#}
{#                </div>#}
{#            </div>#}
{#            <div class="column active">#}
{#                <div class="achieve">#}
{#                    <p class="number">5</p>#}
{#                    <p>złotych medali mistrzostw Europy</p>#}
{#                </div>#}
{#                <div class="achieve">#}
{#                    <p class="number">16</p>#}
{#                    <p>oficjalnych i nieoficjalnych rekordów świata</p>#}
{#                </div>#}
{#                <div class="achieve">#}
{#                    <p class="number">5</p>#}
{#                    <p>rekordów Europy</p>#}
{#                </div>#}
{#            </div>#}
{#            <div class="column">#}
{#                <div class="achieve">#}
{#                    <p class="number">7</p>#}
{#                    <p>nieoficjalnych rekordów świata juniorek</p>#}
{#                </div>#}
{#                <div class="achieve">#}
{#                    <p class="number">53</p>#}
{#                    <p>ustanowioncyh rekordów Polski</p>#}
{#                </div>#}
{#                <div class="achieve">#}
{#                    <p class="number">26</p>#}
{#                    <p>tytułów jako mistrzyni Polski - w tym 3 na hali</p>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
        </section>
        <section class="gallery">
            <h2>Galeria zdjęć</h2>
            <p>Autorem poniższych zdjęć jest Janusz Szewiński</p>
            <div class="images">
{#                <a href="{{ asset('images/achieve.jpg') }}" data-lightbox="image-1" data-title="My caption">Image #1</a>#}
                <a href="{{ asset('images/galery/Irena_Szewinska_medal.jpg') }} " data-lightbox="obrazek1" data-title="Złoty medal IO w Meksyku - 1968r" ><img src="{{ asset('images/galery/256px-Irena_Szewinska_medal.jpg') }}"> </a>
                <a href="{{ asset('images/galery/Irena_i_Obama.jpg') }} " data-lightbox="obrazek1" data-title="Irena Szewińska i Barack Obama - Sydney 2013" ><img src="{{ asset('images/galery/Irena_i_Obama_Easy-Resize.com.jpg') }}"> </a>
                <a href="{{ asset('images/galery/irena-szewinska-duetKK.jpg') }} " data-lightbox="obrazek1" data-title="Irena Szewińska i Ewa Kłobukowska dominują w biegu na 200m - mecz Polska-USA 1965r"><img src="{{ asset('images/galery/irena-szewinska-duetKK_Easy-Resize.com.jpg') }}"> </a>
                <a href="{{ asset('images/galery/tokio-200m.jpg') }} " data-lightbox="obrazek1" data-title="Irena na podium po biegu na 200m - Tokio 1964r"><img src="{{ asset('images/galery/tokio-200m_Easy-Resize.com.jpg') }}"> </a>
                <a href="{{ asset('images/galery/tokio-sztafeta.jpg') }} " data-lightbox="obrazek1" data-title="Złota sztafeta 4x100m z Tokio 1964r - Od lewej: Halina Górecka, Teresa Ciepła, Irena Kirszenstein, Ewa Kłobukowska" ><img src="{{ asset('images/galery/tokio-sztafeta_Easy-Resize.com.jpg') }}"> </a>
                <a href="{{ asset('images/galery/Szewinska-bloki.jpg') }} " data-lightbox="obrazek1" data-title="Przygotowanie do biegu na 100m - mecz Polska-USA 1965r" ><img src="{{ asset('images/galery/Szewinska-bloki_Easy-Resize.com.jpg') }}"> </a>






            </div>
        </section>
{#        </div>#}
    </div>

{% endblock %}
{% block javascripts %}
{{ parent() }}
<script src="{{ asset('lib/jquery-3.6.0.min.js') }}"></script>
            <script src="{{ asset('lib/dist/js/lightbox-plus-jquery.js') }}"></script>
    <script>
        lightbox.option({
            'albumLabel': "Obrazek %1 z %2"
            // 'wrapAround': true
        })
    </script>
{#            <script src="{{ asset('js/script.js') }}"></script>#}
{#<script src="../lib/jquery-3.6.0.min.js"></script>#}
{#<script src="../lib/dist/js/lightbox-plus-jquery.min.js"></script>#}
{% endblock %}
