{% extends 'base.html.twig' %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('css/registration.css') }}">
{% endblock %}
{% block body %}
    <div class="wrapper">
        {{ form_start(form, {method: 'PUT', action: url('change_password', {id: user.id}) }) }}
        {{ form_widget(form) }}

        <button class="button_send" type="submit"> Zapisz</button>
{#        <div class="form-group row float-sm-right">#}
{#            <input type="submit" value="{{'action_save'|trans}}" class="btn btn-primary" >#}
{#        </div>#}

        {{ form_end(form) }}
    </div>
{% endblock %}