{% extends 'base.html.twig' %}
{#<head>#}
{#    <title>#}
{#        {% block title %}#}
{#            Registration#}
{#        {% endblock %}#}
{#    </title>#}
{#            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">#}


{#</head>#}
{% block title %}
{#    {{ parent() }}#}
Registration
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
{#    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">#}
{% endblock %}

{% block body %}
    <div class="wrapper">
<h1>Registration</h1>

{{ form_start(form, {method: 'POST', action: url('app_register') }) }}
{{ form_widget(form) }}


<div>
    <input type="submit" value="submit">
</div>

{{ form_end(form) }}
    </div>
{% endblock %}